<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../CSS/styles.css" />
		<link rel="stylesheet" href="../CSS/charts.min.css" />

		<title>Erreur</title>
	</head>
	<body>
		<div class="mainError">
			<div class="erreur">
				<h1>Nous sommes désolé.</h1>
				<p>Nous avons rencontré une erreur, veuillez réessayer plus tard.</p>
				<img src="../images/robot.svg" />
			</div>
		</div>
		<div class="accueil">
			<a href="index.html"><img src="../images/maison.svg" /></a>
		</div>
	</body>
</html>
