<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../CSS/styles.css">
        <title>humidité</title>
    </head>
        <body>
            <div class="erreur">
                <h1>Nous sommes désolé. </h1>
                <p>Nous avons rencontré une erreur, veuillez réessayer plus tard.</p>
            </div>
            <img src="../images/robot 1.svg">
            <div class="accueil">
                <a href="index.html"><img src="../images/maison 1.svg"></a>
            </div>
        </body>
</html>