<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css">
    <title>Météo</title>
</head>
<body>
    <div class="content">
        <h1>Quelle température et humidité aujourd’hui ?</h1>
        <P>Sélectionnez sur les des boutons ci dessous les données que vous souhaitez afficher.</p>
        <p>Les données sont actualisées toutes les heures.</p>
    </div>

    <!-- température -->

    <div class="content">
        <div>
            <form action='templates/température.html' name='boutontemp'>
                <input type='submit' name='temp' value='Afficher la température'>
            </form>
            <img src="../images/temperature 1.svg">
        </div>
    </div>

    <!-- humidité -->

    <div class="content">
        <div>
            <form action='https://www.youtube.com/' name='boutonhumidite'>
                <input type='submit' name='temp' value="Afficher l’humidité">
            </form>
            <img src="../images/humidite 1.svg">
        </div>
    </div>

    <!-- humidité et température -->

    <div class="content">
        <div>
            <form action='get' name='boutontemphumidite'>
                <input type='button' name='temp' value='Afficher l’humidité et la température'>
            </form>
            <img src="../images/fleche-droite 1.svg">
        </div>
    </div>

    <footer>
        <p>&copy; 2023 Météo App</p>
    </footer>
</body>
</html>
